.App-dark {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(39, 48, 61);
  color: white;
}
.App-light {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(219, 219, 219);
  color: rgb(57, 97, 126);
}
@font-face {
  font-family: 'Avenir Next Condensed' Helvetica, sans-serif normal;
  src: url('./fonts/AvenirNextCondensed.ttc');
}
