.budgets-container{
    margin-top: 2%;
    width:30%;
    row-gap: 7%;
    height:60%;
}
/* @media screen and (max-width: 1400px) {
    .budgets-container{
        width: 30%;
        height:60%;
    }
} */

@media screen and (max-width: 960px) {
    .budgets-container{
        width: 50%;
        height:60%;
    }
}

@media screen and (max-width: 600px) {
    .budgets-container{
        width: 60%;
        height:60%;
    }
}
.budget-contents{
    padding: 5%;
}
.budget-box{
    background-color: rgb(146, 159, 178, 0.130);
    width: 100%;
    border-radius: 15px;
    height: 20%;
}
.form-container{
    height: 25%;
    width: 100%;
    background-color: rgb(39, 48, 61);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}
.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.card:hover{
    background-color: rgb(39, 48, 61);
}