.form-container{
    height: 25%;
    width: 100%;
    background-color: rgb(39, 48, 61);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}
.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}