#statusBar{
    border-width: .5px;
    border-radius:15pt;
}
@media screen and (max-width: 524px) {
    .icon{
        color: white;
        font-size: 20pt;
    }
}
@media screen and (min-width: 525px) {
    .icon{
        color: white;
        font-size: 40pt;
    }
}

.cat-button{
    padding-top: 4%;
    margin-bottom: 2%;
    height: 100%;
    width: 100%;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}