.verticalFlex{
    width:100%;
    display: flex;
    flex-direction:column;
    column-gap: 5;
    justify-content:center;
    align-items: center;
    row-gap: 5px;
}
.horizontalFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-dark{
    color:'white'
}
.button-light {
    color:'black'
}
#card-light{
    background-color:rgb(179, 64, 64);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);

}
#card-dark{
    background-color:rgba(255, 255, 255, 0.2);
}
.tooltip .tooltiptext {
    opacity: 0;
}
  
.tooltip:hover .tooltiptext {
    cursor: pointer;
    visibility: visible;
    transition: opacity 1s;
    opacity: 1;
}  
.card:hover{
    cursor: pointer;
    background-color: rgb(179, 64, 64)  !important;
}
#card:hover{
    cursor:pointer;
}
.input{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    height: 100%; /* Or a fixed height */

    margin-top: 0%;
    margin-bottom: 0%;
    background-color: inherit;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
input[type=number] {
    -moz-appearance: textfield;
}